.body {
    /* color: white; */
    height: 100vh;
    /* background: linear-gradient(to bottom right, rgb(3, 62, 94), rgb(1, 0, 13) 20%, rgb(3, 62, 94) 150%); */
}

.book {
    transition: all 0.2s;
    font-size: 18px;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 4px;
    background-color: rgba(240, 248, 255, 0.16);
    border: 3px solid rgb(107, 124, 255);
    color: rgb(107, 124, 255);
}

.book:hover {
    background-color: rgb(107, 124, 255);
    color: white;
    transform: scale(1.1);
}

.popup {
    background: linear-gradient(to bottom right, rgb(3, 62, 94), rgb(1, 0, 13) 20%, rgb(3, 62, 94) 150%);
    background: linear-gradient(145deg, #b3cccf, #d5f3f6);
                background: #78cdd6;
                border-radius: 40px;
        /* box-shadow: 22px 22px 38px #839698,
            -22px -22px 38px #ffffff; */

}

.courseInfo {
    border-radius: 50px;
        border-radius: 50px;
            background: #78cdd6;
            box-shadow: 23px 23px 3px #376c72,
                -23px -23px 3px #adffff;
}

.courseInfo:hover{
    border-radius: 50px;
        background: #72e1ee;
        box-shadow: 23px 23px 100px #376c72,
            -23px -23px 100px #adffff;
}