.header{
    /* background-color: rgba(154, 154, 154, 0.311); */
    color:rgb(0, 0, 0);
    align-items: center;
    padding: 0px 20px;
    box-shadow: 0px 2px 20px rgba(255, 255, 255, 0.703);
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background: #7dbec5;
    /* background: #98cec0; */
}

.logo{
    flex:0.1;
}

.options{
    flex: 0.4;
}

.option-list{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.sign-in{
    font-size: 18px;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    background-color: rgba(240, 248, 255, 0.16);
    border: 3px solid rgb(107, 124, 255);
    color:rgb(107, 124, 255);
    transition: all 0.2s;
}
.sign-in:hover{
    background-color: rgb(107, 124, 255);
    transform: scale(1.1);
    color: white;
}

/* .btn{
    flex: 0.2;
} */